################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProductMS.sln
/.vs/ProductMS/FileContentIndex/356135fb-84ee-43d9-9c54-711badc88d94.vsidx
/.vs/ProductMS/FileContentIndex/60b221bd-0d8b-4914-b4cb-721e5a8958bc.vsidx
/.vs/ProductMS/FileContentIndex/7f7ee90f-146b-4011-afeb-648b30abd3bf.vsidx
/.vs/ProductMS/FileContentIndex/afdffb2e-265b-4485-89bc-5d14c382eb4b.vsidx
/.vs/ProductMS/FileContentIndex/f355d952-5aa7-4298-9e82-68268cdc8895.vsidx
